<div class="container">
  <%= form_with model: @task do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %>
      <div class="control">
        <%= f.text_field :title, value: @task.title, class: "input" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :task_description, class: "label" %>
      <div class="control"><%= f.text_field :task_description, value: @task.task_description, class: "textarea" %></div>
    </div>
    <div class="field">
      <%= f.label :task_date, class: "label" %>
      <div class="control"><%= f.date_field :task_date, value: @task.task_date, class: "input" %></div>
    </div>
    <div class="field">
      <%= f.label :is_urgent, class: "label" %>
      <div class="control"><%= f.check_box :is_urgent, value: @task.is_urgent, class: "checkbox" %></div>
    </div>
    <div class="field is-grouped">
      <%= f.submit (params[:action] == "new" ? "Create Task" : "Edit Task"), class: "button is-link" %>
    </div>
    <%= react_component("recurrence_selector", {type_of_to_do_list: @to_do_list.type_of_to_do_list, controller_action: params[:action], **@to_do_list.as_json} ) %>
  <% end %>
</div>