<div>
<% if @tasks.present? %>
    <% @tasks.each do |task| %>
        <div class="task card">
            <div class="card-content task-content">
                <div class="row">
                    <div class="title"><%= task.title%></div>
                    <div class="subtitle"><%= task.task_description %></div>
                    <div class="subtitle"><%= task.created_at %></div> 
                    <div class="subtitle"><%= task.task_date %></div> 
                    <div class="subtitle"><%= task.type_of_task %></div>  
                    <div class="subtitle"><%= task.is_completed %></div>
                </div>
                <div class="row">
                    <div class="button"><%= link_to 'Edit Task', edit_task_path(task) %></div>
                    <div class="button"><%= link_to "Mark as Completed", mark_as_completed_task_path(task), method: :patch %></div>
                    <div class="button"><%= link_to "Delete Task", task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
</div>