<div class="container box">
    <div class="block">
        <div class="title">Tasks</div>
        <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
        <div class="subtitle">A Simple Task Manager</div>
        <% puts params %>
        <div><%= link_to "New Task", new_task_path, class: "button is-secondary" %></div>
        <div><%= link_to "Next Day"%></div>
        <div><%= link_to "Previous Day"%></div>
        <%= form_tag tasks_path, method: :get do %>
            <%= label_tag :task_date, "filter by date" %>
            <% if params[:task_date].present? %>
                <%= date_field_tag :task_date, params[:task_date].in_time_zone('Pacific Time (US & Canada)').to_date %>
            <% else %>
                <%= date_field_tag :task_date %>
            <% end %>
            <%= submit_tag "Filter" %>
        <% end %>
        <div class="button"><%=  %></div>
    </div>
    <div class="block">
        <% if @tasks.present? %>
            <% @tasks.each do |task| %>
                <%= render partial: 'tasks', locals: { item: task } %>
            <% end %>
        <% end %>
        <% if @completed_tasks.present? %>
            <% @completed_tasks.each do |task| %>
            <%= render partial: 'tasks', locals: { item: task } %>
            <% end %>
        <% end %>
    </div>
</div>