<div class="container box">
    <div class="block">
        <div class="title">Tasks</div>
        <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
        <div class="subtitle">A Simple Task Manager</div>
    <% puts params %>
    <div><%= link_to "New Task", new_task_path, class: "button is-secondary" %></div>
    <div><%= link_to "Next Day"%></div>
    <div><%= link_to "Previous Day"%></div>
    <%= form_tag tasks_path, method: :get do %>
        <%= label_tag :task_date, "filter by date" %>
        <% if params[:task_date].present? %>
            <%= date_field_tag :task_date, value: params[:task_date].in_time_zone('Pacific Time (US & Canada)').to_date %>
        <% else %>
            <%= date_field_tag :task_date %>
        <% end %>
        <%= submit_tag "Filter" %>
    <% end %>
    </div>
    <div class="block">
    <% if @tasks.present? %>
        <% @tasks.each do |task| %>
            <div class="card">
                <div class="card-content">
                    <div class="title"><%= task.title%></div>
                    <div class="subtitle"><%= task.task_description %></div>
                    <div class="subtitle"><%= task.created_at %></div>  
                    <div class="subtitle"><%= task.type_of_task %></div>  
                </div>
            </div>
        <% end %>
    <% end %>
    </div>
</div>