<div class="container box">
    <div class="block">
        <div class="title">Tasks</div>
        <div class="subtitle">A Simple Task Manager</div>
        <% puts params %>
        <div><%= link_to "New Task", new_task_path, class: "button is-secondary" %></div>
        <% if params[:task_date].present? %>
            <%= link_to "Next Day »", tasks_path(task_date: Date.parse(params[:task_date]) + 1.day)%>
            <%= link_to "« Previous Day", tasks_path(task_date: Date.parse(params[:task_date]) - 1.day)%>
        <% else %>
            <div>please choose a date</div>
        <% end %>
        <%= form_tag tasks_path, method: :get do %>
            <% if params[:task_date].present? %>
                <%= date_field_tag :task_date, params[:task_date].in_time_zone('Pacific Time (US & Canada)').to_date %>
            <% else %>
                <%= date_field_tag :task_date %>
            <% end %>
            <%= submit_tag "Filter" %>
        <% end %>
        <div class="button"><%=  %></div>
    </div>
    <div class="block">
        <% if @tasks.present? %>
            <% @tasks.each do |task| %>
                <%= render partial: 'tasks', locals: { item: task } %>
            <% end %>
        <% end %>
    </div>
</div>