<div class="container box">
    <div class="block">
        <div class="title">Tasks</div>
        <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
        <div class="subtitle">A Simple Task Manager</div>
    <% puts params %>
    </div>
    <div class="block">
        <% @tasks.each do |task| %>
            <div class="card">
                <div class="card-content">
                    <div class="title"><%= task.title%></div>
                    <div class="subtitle"><%= task.task_description %></div>
                    <div class="subtitle"><%= task.created_at %></div>  
                    <div class="subtitle"><%= task.type_of_task %></div>  
                </div>
            </div>
        <% end %>
    </div>
    <div><%= link_to "New Task", new_task_path, class: "button is-secondary" %></div>
    <div><%= link_to "Next Day"%></div>
    <div><%= link_to "Previous Day"%></div>
    <%= task_index_header_form do %>
        <%= 
        date_field_tag "task_date",
        params[:task_date],
        onchange: 'this.form.submit()'
        %>
    <% end %>
</div>