<h1>New Task</h1>
<div class="container">
<%= form_with model: @task do |f| %>
  <div class="field">
    <%= f.label :title, class: "label" %>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :task_description, class: "label" %>
    <div class="control"><%= f.text_field :task_description, class: "textarea" %></div>
  </div>
  <div class="field">
    <%= f.label :task_date, class: "label" %>
    <div class="control"><%= f.date_field :task_date, class: "input" %></div>
  </div>
  <div class="field">
    <%= f.label :is_urgent, class: "label" %>
    <div class="control"><%= f.check_box :is_urgent, class: "checkbox" %></div>
  </div>
  <div class="field is-grouped">
    <%= f.submit 'Create Task', class: "button is-link"%>
  </div>
<% end %>
</div>